<p>
	Don't ask me how or why I came up with the name for this website. 
	
	Hopefully it suggests that the site might be about learning and self advancement, which luckily it is!
</p>


<p>
	I hope you find something of interest in these pages. 
	
	If you are in to perpetually unfinished Indie games please check out some of mine!
	
	If you want to learn more about game development then check out my tutorials.
	
	Enjoy your visit. 
	
</p>

<section>
	<h2>Latest News</h2>

	<article>
		<h3>24/12/11</h2>
		<p>
		<%= link_to "Isle Survive",islesurvive_path %>
		version 1.2 released. Now includes 'not so friendly to the natives' traps!
		</p>
		<p>
		Get it here: <%= link_to "Isle Survive on Android Market",'https://market.android.com/details?id=com.platoevolved.islesurvivefree'%>	
		</p>
		<p>
			This update includes the following:
		</p>
		<ul>
			<li>Spring Trap - Handy for projecting natives into...</li>
			<li>Spike Traps!</li>
			<li>A tutorial - Much needed I know</li>
			<li>Each 'wave' of natives start out friendly - They do get annoying if you are trying to build but now you can lay down traps!</li>
			<li>Hint: Lock up a native if you don't want more waves appearing. It's cruel I know but avoids wholesale slaughter</li>
			<li>Coming soon, ranged combat! So looking forward to adding this...</li>				
		</ul>
	</article>







	<article>
		<h3>28/11/11</h2>
		<p>
		<%= link_to "Isle Survive",islesurvive_path %>
		version 1.1 released. Now includes friendly natives!
		</p>
		<p>
		Get it here: <%= link_to "Isle Survive on Android Market",'https://market.android.com/details?id=com.platoevolved.islesurvivefree'%>	
		</p>
		<p>
			<iframe width="640" height="360" src="http://www.youtube.com/embed/eoH76Ih-V5Y" frameborder="0" allowfullscreen></iframe>
		</p>
	</article>
	
	<article>
		<h3>21/11/11</h2>
		<p>
		<%= link_to "Isle Survive",islesurvive_path %>
		released!
		</p>
	</article>
	
	
	<article>
		<h3>01/11/11</h2>
		<p>
		
		<%= link_to "Isle Survive",islesurvive_path %>
		
		approaching release date.
			
		</p>
		
		<p>
			
		Check out my new game, coming to the android market place soon.
			
		</p>
	</article>
</section>