<p>
  Stranded in the depths of space, constantly under attack by living alien spaceships...
  How long can you survive, how many aliens will you destroy before you become Space Dust!!!
</p>

<p>
	I must admit, this project is on hold indefinitely. I essentially used this game as a learning tool,
	worked on it for a few months and then got excited about the minecraft/terraria style games and dropped
	it.
</p>

<p>
	However the current plan is to use it as a basis for my upcoming tutorial series. I learned a lot from 
	building this game and would like to pass on some of that knowledge.
</p>

<p>
	Please subscribe to my <%= link_to "Youtube",'http://www.youtube.com/user/platoevolved'%> channel if you are interested in those tutorials.
</p>
<%= image_tag("spacedust/spacedust_1.jpg",:alt => "Space Dust",:class => "round")%>
<%= image_tag("spacedust/spacedust_2.jpg",:alt => "Space Dust",:class => "round")%>
<%= image_tag("spacedust/spacedust_3.jpg",:alt => "Space Dust",:class => "round")%>
<%= image_tag("spacedust/spacedust_4.jpg",:alt => "Space Dust",:class => "round")%>