<header>
	<%= image_tag("platoevolvedsm.png",:alt => "Morgan Page",:class => "round")%>
		<nav class="menu">
			<ul>
				<li><%= link_to "Home",root_path %></a>

				</li>
				<li><a href="#" id="current">Games</a>
					<ul>
						<li><%= link_to "Isle Survive",islesurvive_path %></li>
						<li><%= link_to "Space Dust",spacedust_path %></li>
				   </ul>
			  </li>
				<li><a href="#">Tutorials</a>
					<ul>
						<li><%= link_to "Unity",unity_path %></li>
						<li><%= link_to "Blender",blender_path %></li>
						<li><%= link_to "Ruby On Rails",rubyonrails_path %></li>
          </ul>
        </li>
				<li><a href="#">Reviews</a>
					<ul>
						<li><%= link_to "Game Reviews",gamereviews_path %></li>
						<li><%= link_to "Model Reviews",modelreviews_path %></li>
          </ul>
        </li>
				<li><a href="#">Hobbies</a>
					<ul>
						<li><%= link_to "Paragliding",paragliding_path %></li>
						<li><%= link_to "Snowboarding",snowboarding_path %></li>
						<li><%= link_to "Walking",walking_path %></li>
						<li><%= link_to "Music",music_path %></li>
          </ul>
        </li>
			</ul>
		</nav>
</header>
