<!DOCTYPE html>
<html>
	<head>
	  <title><%= title %></title>
	  
	  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	 	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	  
	  <%= stylesheet_link_tag    "menu_style" %>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<header>
				<%= image_tag("logo.png",:alt => "Sample app",:class => "round")%>
					<nav class="menu">
						<ul>
							<li><a href="#" >Home</a></li>
							<li><a href="#" id="current">Games</a>
								<ul>
									<li><a href="#">Isle Survive</a></li>
									<li><a href="#">Space Dust</a></li>
							   </ul>
						  </li>
							<li><a href="/faq.php">Tutorials</a>
								<ul>
	                <li><a href="#">Unity</a></li>
	                <li><a href="#">Blender</a></li>
                </ul>
		          </li>
							<li><a href="/faq.php">Reviews</a>
								<ul>
	                <li><a href="#">Game Reviews</a></li>
	                <li><a href="#">Model Reviews</a></li>
                </ul>
		          </li>
							<li><a href="/faq.php">Hobbies</a>
								<ul>
	                <li><a href="#">Paragliding</a></li>
	                <li><a href="#">Snowboarding</a></li>
	                <li><a href="#">Walking</a></li>
	                <li><a href="#">Music</a></li>
                </ul>
		          </li>


							<li><a href="/contact/contact.php">Contact</a></li>
						</ul>
					</nav>
				
			</header>
			<section class="round">
				<%= yield %>
				
			</section>
		</div>
	
	</body>
</html>
